#contact {
  min-height: calc(100vh - 137px - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  .v-card {
    width: inherit;
    max-width: 850px;
    margin: 0 auto;
  }
}
