#background {
  //background-image: url("/img/background/contact.jpg");
  padding-bottom: 10rem;
}

#contact {
  position: relative;
  padding-top: 0;

  #contact-form {
    max-width: 600px;
    margin: 0 auto;
  }

  .v-card {
    max-width: 850px;
    margin: 0 auto;
  }
}
