#home-message {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.background-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  &:before {
    content: "";
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
