#fixed-catchphrase {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;

  font-size: 2.5rem;
  font-weight: 400;
  color: $material-white;
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.1s $mdc-animation-standard-curve-timing-function !important;
  color: $material-white;

  &:hover {
    color: darken($material-white, 20);
  }
}