nav {
  position: absolute !important;
  z-index: 1;
}

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("/img/background/adventure-calm-clouds-414171.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  a.down-arrow {
    position: absolute;
    top: 85vh;
    left: 50vw;
    padding: 0;
    margin: 0;

    .v-icon {
      width: 100%;
      transform: translateX(-50%);
      opacity: 0.8;
      animation: arrow 1s ease-in-out infinite alternate;
    }
  }

  @keyframes arrow {
    from {
      margin-top: 0;
    }

    to {
      margin-top: 0.5rem;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
  }

  /* Border X get width  */
  .borderXwidth {
    height: 8rem;
    width: 100%;
    padding-top: 1.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));

    a:before,
    a:after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: "";
      background: #fff;
      transition: all 0.3s;
    }

    a:before {
      left: 0px;
      top: 0px;
    }

    a:after {
      right: 0px;
      bottom: 0px;
    }

    a:hover:before,
    a:hover:after {
      opacity: 1;
      width: 100%;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }
  }

  .header-container {
    padding-top: 0;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }
  }
}
