#certificates {
  .certificate-group {
    height: fit-content;
  }
  .certificate-group-name {
    @include mdc-typography(headline6);
    text-align: left;
    margin: 0;
    padding-left: 1rem;
    line-height: 3rem;
  }

  .certificates-list {
    text-align: left;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s $mdc-animation-deceleration-curve-timing-function;
  }

  .course-row {
    display: table-row;
  }

  .course-row-wrapper:not(:last-child):after {
    content: "";
    margin: 0.1rem 1rem;
    display: block;
    border-bottom: 1px solid $material-color-grey-200;
  }

  .course-name,
  .course-image-container {
    display: table-cell;
    vertical-align: middle;
  }

  .course-name {
    width: 70%;
    padding: 0.2rem 0 0 1rem;
  }

  .course-image-container {
    width: 5%;
    padding: 0.2rem 0.25rem 0 0.25rem;

    @media only screen and (min-width: 576px) {
      padding: 0.2rem 0.75rem 0 0.75rem;
    }

    @media only screen and (min-width: 1200px) {
      width: 10%;
      padding: 0.2rem 1rem 0 1rem;
    }

    text-align: center;
    vertical-align: middle;
  }

  .course-inline-image {
    height: 25px;
  }

  .certificate-icon {
    opacity: 0.8;
    transition: opacity 0.1s $mdc-animation-standard-curve-timing-function;

    &:hover {
      opacity: 1;
    }
  }

  .v-expansion-panel--popout .v-expansion-panel__container, .v-expansion-panel--inset .v-expansion-panel__container {
    max-width: 100%;
  }
}
