#contact {
  padding-bottom: 2rem;

  .mdc-text-field {
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 0;
  }

  .text-field--error {
    &:not(#message-helper-text) {
      color: $material-color-red-900;
    }
    @include mdc-typography(caption);

    width: 100%;
    max-width: 500px;
    margin: 0 auto 8px auto;

    &:not(#email--error):not(#message-helper-text) {
      visibility: hidden;
    }
  }

  .mdc-text-field--invalid + .text-field--error:not(#email--error) {
    visibility: visible !important;
  }

  #email--error {
    display: none;
  }

  #name-field {
    margin-top: 1rem;
  }

  #form-message {
    min-height: 200px;
  }

  #message-helper-text {
    text-align: right;

    &.message-error {
      color: $material-color-red-900;
      text-align: center;
    }
  }

  .mdc-button {
    margin-bottom: 1rem;

    &:disabled {
      background-color: desaturate(lighten($mdc-theme-primary, 30), 20);
      color: white;
    }
  }

  .mdc-snackbar {
    background-color: $material-color-green-500;
    color: white;

    &.invalid {
      background-color: $material-color-red-500;
    }
  }

  .animate_loader {
    width: 18px;
    display: none;
  }

  .animate_loader .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .animate_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: white;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
}
