footer {
  margin-top: 2rem;
  .footer-message {
    @include mdc-typography(body2);
    @include mdc-theme-prop(color, on-primary);

    svg {
      width: 0.75rem !important;
    }
  }

  .footer-caption {
    @include mdc-typography(caption);
    @include mdc-theme-prop(color, on-secondary);

    a {
        font-weight: 600;
    }
  }
}
