#skills {
  .subtitle {
    @include mdc-typography(body2);
  }
  
  .skill-title {
    @include mdc-typography(headline6);
    margin-bottom: 0.5rem;
    position: relative;

    &:not(.skill-title-first) {
      margin-top: 3rem;
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $material-color-grey-300;
      }
    }
  }
  .skill-subtitle {
    position: relative;
    margin: 1.5rem auto 0 auto;
    @include mdc-typography(body1);
    font-weight: 500;
  }
  .skill-subtitle::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
    right: -3px;
    height: 1px;
    background-image: -webkit-linear-gradient(
      left,
      transparent,
      $material-color-grey-300,
      transparent
    );
    background-image: -moz-linear-gradient(
      left,
      transparent,
      $material-color-grey-300,
      transparent
    );
    background-image: -o-linear-gradient(
      left,
      transparent,
      $material-color-grey-300,
      transparent
    );
  }
  .skill {
    display: inline-block;
    width: $skill-item-size;
    margin: 1rem 1.5rem;
    .progress-container {
      display: flex;
      flex-direction: column;
      .tooltip {
        img {
          max-height: $skill-item-size * 0.8;
          max-width: $skill-item-size;
          margin-bottom: 0.5rem;
        } /* Tooltip text */
        .tooltiptext {
          visibility: hidden;
          width: 150px;
          text-align: center;
          padding: 0.5rem;
          border-radius: 2px;

          background-color: white;
          @include mdc-elevation(8);
          @include mdc-typography(body2);
          /* Position the tooltip text */
          position: absolute;
          // z-index: 9999;
          bottom: 115%;
          left: -50%;
        }
      }
      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
      .progress {
        flex-basis: 100%;
        border-radius: $skill-item-size * 0.1;
        overflow: hidden;
        height: $skill-item-size * 0.1;
        background-color: $material-color-grey-300;
        .progress-bar {
          height: $skill-item-size * 0.1;
          background-color: $mdc-theme-primary;
        }
      }
    }
  }
}
