#studies {
  min-height: 705px;
  @media only screen and(min-width: 992px) {
    max-height: 705px;
  }
}

.schools{
  width: 90%;

  @media only screen and (min-width: 768px) {
    width: 85%;
  }

  @media only screen and (min-width: 1200px) {
    width: 70%;
  }
}

.school {
  transition: all 0.4s $mdc-animation-standard-curve-timing-function;

  @include card();

  @media only screen and(max-width: 992px) {
    @include school-focus;
    width: auto;
    display: block !important;
  }

  display: inline-block;
  height: 260px;
  width: 270px;
  margin: 20px auto;

  h3 {
    font-weight: 500;
    margin: 1rem 1rem 0 1rem;
    vertical-align: middle;
  }

  h4 {
    margin: 0.25rem 0 1rem 0;
  }

  .school-logo {
    min-height: 80px;
    img {
      height: 60px;
      margin: 0 1rem;
    }
  }

  .school-content {
    @media only screen and (min-width: 992px) {
      opacity: 0;
    }
    text-align: left;

    .courses {
      font-weight: 500;
    }

    .course-name {
      font-weight: 500;
    }

    .project-caption {
      margin-left: 30px;
    }

    li {
      margin: 0.25rem;
    }
  }
}

.school.in {
  @include school-focus;
  @media only screen and (min-width: 992px) {
    width: 37vw;
    @include mdc-elevation(8);
  }
}

.schools {
  display: block;

  @media only screen and (min-width: 992px) {
    display: inline-flex;
  }
}

.dots {
  width: 20px;
}
