#studies {
  min-height: 705px;
  @media only screen and(min-width: 960px) {
    max-height: 705px;
  }
}

.school {
  transition: all 0.4s $mdc-animation-standard-curve-timing-function;

  @media only screen and(max-width: 959px) {
    @include school-focus;
    width: auto;
    display: block !important;
  }

  display: inline-block;
  margin: 0 auto;
  
  &.icm:not(.in) {
    height: 240px;
  }
  &.cps2 {
    &:not(.in) {
      height: 270px;
    }
    @media only screen and(max-width: 959px) {
      margin: 20px auto 0 auto;
    }
  }

  width: 40%;

  h3 {
    font-weight: 500;
    margin: 1rem 1rem 0 1rem;
    vertical-align: middle;
  }

  h4 {
    margin: 0.25rem 0 1rem 0;
  }

  .school-logo {
    min-height: 80px;
    img {
      height: 60px;
      margin: 0 1rem;
    }
  }

  .school-content {
    @media only screen and (min-width: 960px) {
      opacity: 0;
    }
    text-align: left;

    .courses {
      font-weight: 500;
    }

    .course-name {
      font-weight: 500;
    }

    .project-caption {
      margin-left: 30px;
    }

    li {
      margin: 0.25rem;
    }
  }
}

.school.in {
  @include school-focus;
  @media only screen and (min-width: 960px) {
    width: 40vw;
    @include mdc-elevation(8);
  }
}

.schools {
  display: block;

  @media only screen and (min-width: 960px) {
    display: inline-flex;
  }
}

.dots {
  width: 35px;
  height: 35px;
  padding: 8px;

  &:hover {
    border-radius: 50%;
    background-color: $material-color-grey-100;
  }
}
