html {
  font-size: initial !important;
}

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.1s ease-in-out !important;
  color: inherit !important;
}

// Push the content of the page above the footer (positioned absolutely)
#push-bottom {
  height: 137px;
}

.hide-on-render {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.theme--dark .v-card,
.application .theme--dark.v-card {
  background: #303030;
}

.application.theme--dark {
  background: #212121;
}

#cookie-snackbar {
  .v-snack__wrapper {
    // override the snackbar property
    max-width: 100%;
  }

  @media only screen and (max-width: 599px) {
    .v-snack__content {
      display: flex;
      flex-direction: column;
    }
  }
}
