html {
  font-size: initial !important;
}

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.avatar {
  width: 100%;
  height: $avatar-height;

  img {
    height: $avatar-height;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
  }
}

.hide-on-render {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.theme--dark .v-card,
.application .theme--dark.v-card,
.theme--dark .v-tabs__bar,
.application .theme--dark.v-tabs__bar {
  background-color: #303030;
}

.application.theme--dark {
  background: #212121;
  color: rgba(255, 255, 255, 0.84) !important;
}

#cookie-snackbar {
  .v-snack__wrapper {
    // override the snackbar property
    max-width: 100%;
  }

  @media only screen and (max-width: 599px) {
    .v-snack__content {
      display: flex;
      flex-direction: column;
    }
  }
}
