html {
  font-size: initial !important;
}

body {
  margin: 0;
  text-align: center;
}

.page-header {
  padding-top: 4rem;

  @media only screen and (min-width: 960px) {
    padding-top: 6rem;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.1s ease-in-out !important;
  color: $mdc-theme-on-primary;
  p &:hover {
    color: darken($mdc-theme-on-primary, 20);
  }
}

.hide-on-render {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.background-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  &:before {
    content: "";
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.theme--dark .v-card, .application .theme--dark.v-card {
  background: #303030;
}

.application.theme--dark {
  background: #212121;
}