/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  text-align: left;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  text-align: center;
  white-space: nowrap;

  p {
    margin: 0.25rem 0 0 0;
  }
  img {
    width: 100px;
  }
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 14px;
  &:before {
    background: $mdc-theme-primary;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    box-sizing: initial;
    transition: background 0.3s $mdc-animation-standard-curve-timing-function,
      border 0.3s $mdc-animation-standard-curve-timing-function;
  }
  &:after {
    content: "";
    width: 3px;
    background: $material-color-grey-300;
    display: block;
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 8px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $mdc-theme-primary;
}

/*----- TIMELINE CONTENT -----*/
.date {
  @include mdc-typography(subtitle2);
}

.timeline-content {
  padding-bottom: 80px;
  h3 {
    margin: 0;
    line-height: 1.9rem;
  }
  h4 {
    margin: 0.25rem 0;
  }

  .timeline-title {
    @include mdc-typography(headline6);
  }

  .company {
    @include mdc-typography(subtitle1);
  }
  .location {
    @include mdc-typography("caption");
    line-height: 0.75rem;
  }
  p,
  ul {
    @include mdc-typography(body2);
  }
  p:last-child {
    margin-bottom: 0;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
  .timeline-info {
    display: none;
  }
  .timeline-marker {
    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      left: 2px;
      position: absolute;
      border-top: 3px solid #ccd5db;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 40px 0 70px;
  }
  .timeline-title {
    margin: 0;
  }
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

.timeline-split {
  @media (min-width: 600px) {
    .timeline {
      display: table;
    }
    .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-info,
    .timeline-marker,
    .timeline-content,
    .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-marker {
      position: relative;
    }
    .timeline-content {
      padding-left: 30px;
    }
    .timeline-info {
      padding-right: 30px;
    }
    .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
}
