// TAB BAR
#tab-bar {
  width: 100%;
  z-index: 2;

  .v-tabs__item {
    font-weight: 400;
  }

  .v-tabs__slider {
    height: 3px;
  }
}

// RESPONSIVE
@media only screen and (min-width: 960px) {
  .push {
    padding-top: 64px !important;
  }

  .sticky {
    position: fixed !important;
    top: 0 !important;
  }
}
