// Fix font-awesome icon width
.v-icon.fas {
  width: 24px;
}

// TAB BAR
#tab-bar {
  min-height: 10px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

// RESPONSIVE
@media only screen and (min-width: 960px) {
  .push {
    padding-top: 64px !important;
  }

  .sticky {
    position: fixed !important;
    top: 0 !important;
  }
}

.tab-item {
  font-size: 0.875rem;
  letter-spacing: 0.08929em;

  &:hover {
    background-color: $material-color-grey-100;
  }
}

.v-tabs__item {
  font-weight: 400;
}
