@mixin title-underline {
  &::after {
    content: "";
    margin: 0.75rem auto;
    display: block;
    width: 5rem;
    border-bottom: 3px solid;
  }
}

@mixin school-focus {
  height: fit-content !important;

  .school-content {
    opacity: 1;
  }

  .dots {
    display: none;
  }
}
