html {
  font-size: initial !important;
}

body {
  margin: 0;
  text-align: center;
}

.rounded-circle {
  border-radius: 50%;
  padding: 0px;
  border: 5px solid white;
  @include mdc-elevation(8);
}

section:not(.mdc-top-app-bar__section) {
  margin: auto;
  padding: 16px 0 5px 0;
}

.section-title {
  margin: 1rem auto 2rem auto;
  @include title-underline;
  @include mdc-typography(headline5);
}

.title-underline {
  @include title-underline;
}

.v-card {
  padding: 1rem;
}

// Override Vuetify container width
@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.1s $mdc-animation-standard-curve-timing-function !important;
  @include mdc-theme-prop(color, text-secondary-on-background);

  &:hover {
    @include mdc-theme-prop(color, text-primary-on-background);
  }
}

#drawer-backlink {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#top-backlink {
  position: absolute;
  top: 10px;
  left: 10px;
  @include mdc-theme-prop(color, on-secondary);

  &:hover {
    @include mdc-theme-prop(color, text-secondary-on-background);
  }
}

#hide-on-load {
  opacity: 0;
  transition: opacity 0.2s $mdc-animation-standard-curve-timing-function;

  &.show {
    opacity: 1;
  }
}