<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <!-- MOBILE MENU -->
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a id="hamburger-menu" class="menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title"></span>
      </section>
    </div>
  </header>

  <aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
    <nav class="mdc-drawer__drawer">
      <header class="mdc-drawer__header">
        <div class="mdc-drawer__header-content title-underline">Menu</div>
      </header>
      <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
        <a class="mdc-list-item" data-scroll role="tab" href="#header-wrapper">A propos</a>
        <br>
        <a class="mdc-list-item" data-scroll role="tab" href="#experiences">Expériences</a>
        <br>
        <a class="mdc-list-item" data-scroll role="tab" href="#studies">Formation</a>
        <br>
        <a class="mdc-list-item" data-scroll role="tab" href="#skills">Compétences</a>
        <br>
        <a class="mdc-list-item" data-scroll role="tab" href="#certificates">Certifications</a>
        <br>
        <a class="mdc-list-item" data-scroll role="tab" href="#contact">Contact</a>
      </nav>
    </nav>
  </aside>

  <!-- HEADER -->
  <div id="header-wrapper">
    <div id="particles"></div>

    <div id="profile">
      <div class="avatar">
        <img class="rounded-circle" src="img/avatar.jpeg" alt="photo_profile" />
      </div>
      <h1 class="mdc-typography--headline5">Julien Sulpis</h1>
      <h2 class="mdc-typography--subtitle1">Stagiaire développeur Android</h2>
      <h3 class="mdc-typography--body2">SOLUTEC &#x2022; École des Mines de Saint-Étienne</br>Région de Lyon, France</h3>
      <p class="social">
        <a href="https://www.linkedin.com/in/julien-sulpis">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/jsulpis">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/JulienSulpis">
          <i class="fab fa-twitter"></i>
        </a>
      </p>


      <p id="description" class="mdc-typography--body1">
        <i class="fas fa-quote-left"></i> Je progresse essentiellement dans les domaines du développement web et Android. Gros consommateur de cours en
        ligne, j'apprends tous les jours pour compléter mon bagage technique et utiliser les meilleurs outils et pratiques
        actuels.
        <i class="fas fa-quote-right"></i>
      </p>


      <div id="dynamic-toolbar">
        <nav id="dynamic-tab-bar" class="mdc-tab-bar hide-on-med-and-down" role="tablist">
          <a data-scroll role="tab" aria-controls="panel-1" class="mdc-tab mdc-tab--active" href="#header-wrapper">A propos</a>
          <a data-scroll role="tab" aria-controls="panel-2" class="mdc-tab" href="#experiences">Expériences</a>
          <a data-scroll role="tab" aria-controls="panel-3" class="mdc-tab" href="#studies">Formation</a>
          <a data-scroll role="tab" aria-controls="panel-3" class="mdc-tab" href="#skills">Compétences</a>
          <a data-scroll role="tab" aria-controls="panel-3" class="mdc-tab" href="#certificates">Certifications</a>
          <a data-scroll role="tab" aria-controls="panel-3" class="mdc-tab" href="#contact">Contact</a>
          <span class="mdc-tab-bar__indicator"></span>
        </nav>
      </div>
    </div>

  </div>

  <!-- EXPERIENCES -->
  <section id="experiences">
    <h2 class="mdc-typography--headline5 section-title">Expériences</h2>
    <div class="container container-fluid">
      <ul class="timeline timeline-split">

        <li class="timeline-item">
          <div class="timeline-info">
            <p class="mdc-typography--subtitle2">avr. 2018 - août 2018
              <br>5 mois</p>
            <img src="img/brands/solutec.png" alt="logo_SOLUTEC">
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title mdc-typography--headline6">Stagiaire développeur Android</h3>
            <h4 class="mdc-typography--subtitle1">SOLUTEC</h4>
            <h4 class="location mdc-typography--caption">Région de Lyon, France</h4>
            <p class="mdc-typography--body2">Pour le compte d'un client grand compte de SOLUTEC, je développe une application mobile de réalité augmentée
              pour faciliter la maintenance d'automates bancaires.</p>
            <p class="mdc-typography--body2">Technologies utilisées:</p>
            <ul class="mdc-typography--body2">
              <li>
                <a href="https://developer.android.com/topic/libraries/architecture/">Android Architecture Components</a>
              </li>
              <li>
                <a href="https://www.easyar.com/">EasyAR</a> - Réalité Augmentée
              </li>
              <li>
                <a href="https://www.khronos.org/opengles/">OpenGL|ES</a> - Graphiques
              </li>
            </ul>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <p class="mdc-typography--subtitle2">juin 2017 - août 2017
              <br>3 mois</p>
            <img src="img/brands/polytechnique.jpg" alt="logo_polymtl">
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title mdc-typography--headline6">Stage de recherche en robotique mobile</h3>
            <h4 class="mdc-typography--subtitle1">Polytechnique Montréal</h4>
            <h4 class="location mdc-typography--caption">Région de Montréal, Canada</h4>
            <p class="mdc-typography--body2">Pendant ce stage, j'ai implémenté une version simplifiée de localisation et cartographie simultanée (SLAM) pour
              la robotique mobile. L'objectif était de distribuer les calculs sur un cluster pour gérer des gros volumes
              de données.
            </p>
            <p class="mdc-typography--body2">Technologies utilisées:</p>
            <ul class="mdc-typography--body2">
              <li>
                <a href="https://spark.apache.org/">Apache Spark</a> - Données massives
              </li>
              <li>
                <a href="https://www.ibm.com/cloud-computing/bluemix/fr">IBM Bluemix</a> - Plateforme Cloud
              </li>
              <li>
                <a href="https://kafka.apache.org/">Apache Kafka</a> - Streaming
              </li>
              <li>
                <a href="https://aws.amazon.com/fr/kinesis/">Amazon Kinesis</a> - Streaming
              </li>
            </ul>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <p class="mdc-typography--subtitle2">janvier 2016
              <br>1 mois</p>
            <img src="img/brands/auxitrol.gif" alt="logo_auxitrol">
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title mdc-typography--headline6">Stage opérateur en usine</h3>
            <h4 class="mdc-typography--subtitle1">Auxitrol</h4>
            <h4 class="location mdc-typography--caption">Région de Bourges, France</h4>
            <p class="mdc-typography--body2">J'ai travaillé sur une ligne de production et au service expédition d'une usine de production de thermocouples
              pour l'aérospatial.</p>
            <p class="mdc-typography--body2">Cette expérience m'a permis de découvrir les conditions de travail des ouvriers, ainsi que de comprendre les
              modes de fonctionnement et de gestion d'une usine.</p>
          </div>
        </li>

        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
        </li>
      </ul>
    </div>
  </section>

  <!-- STUDIES -->
  <section id="studies">
    <h2 class="mdc-typography--headline5 section-title">Formation</h2>
    <div class="container schools">
      <div class="school in">
        <h3 class="mdc-typography--headline6">Ingénieur Civil des Mines</h3>
        <h4 class="mdc-typography--body2">Mines Saint-Étienne</h4>
        <div class="school-logo">
          <a href="https://www.mines-stetienne.fr/formation/icm/">
            <img src="img/schools/emse.png" alt="logo_emse"></img>
          </a>
          <br>
        </div>
        <a href="" onclick="return false;">
          <img class="dots" src="img/more-256.png" alt="dots"></img>
        </a>
        <div class="school-content">
          <span class="courses">Cours:</span>
          <ul class="mdc-typography--body2">
            <li>
              <span class="mdc-typography--body1 course-name">Big Data:</span>
              <a href="https://hadoop.apache.org/">Hadoop</a>,
              <a href="https://spark.apache.org/">Spark</a>, SQL, Shell, Fouille de Données...</li>
            <li>
              <span class="mdc-typography--body1 course-name">Développement Web:</span> Front-end, Back-end, API REST</li>
            <li>
              <span class="mdc-typography--body1 course-name">Intelligence Artificielle:</span> jeux, planning, résolution de problèmes, représentation des connaissances...</li>
            <li>
              <span class="mdc-typography--body1 course-name">Microélectronique:</span> Objets communicants, systèmes embarqués, électronique numérique et analogique
            </li>
            <li>
              <span class="mdc-typography--body1 course-name">Gestion:</span> Bilans, résultats...</li>
            <li>
              <span class="mdc-typography--body1 course-name">Management:</span> Méthodes agiles, performance...</li>
          </ul>

          <br>
          <div class="courses">Projet: Système de gestion de bâtiment intelligent</div>
          <span class="project-caption mdc-typography--body2">Majeure Informatique, 3e année.
            <a href="https://github.com/MajeureInfo">Voir sur GitHub.</a>
          </span>
          <ul>
            <li>Serveur web Java Spring Boot hébergé sur
              <a href="https://www.heroku.com/">Heroku</a>
            </li>
            <li>Interface web hébergée sur GitHub Pages</li>
            <li>Application Android</li>
            <li>Système Arduino</li>
          </ul>
        </div>
      </div>


      <div class="school">
        <h3 class="mdc-typography--headline6">Master Cyber-Physical and Social Systems</h3>
        <h4 class="mdc-typography--body2">Mines Saint-Étienne, Université Jean Monnet</h4>
        <div class="school-logo">
          <a href="https://www.mines-stetienne.fr/formation/cyber-physical-social-systems-cps2/">
            <img src="img/schools/cps2.png" alt="logo_emse_jean_monnet">
          </a>
          <br>
        </div>
        <a href="" onclick="return false;">
          <img class="dots" src="img/more-256.png" alt="dots"></img>
        </a>
        <div class="school-content">
          <span class="courses">Cours:</span>
          <ul class="mdc-typography--body2">
            <li>
              <span class="mdc-typography--body1 course-name">Web Semantics:</span>
              <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a>,
              <a href="https://fr.wikipedia.org/wiki/RDF_Schema">RDFS</a>,
              <a href="https://fr.wikipedia.org/wiki/SPARQL">SPARQL</a>,
              <a href="https://jena.apache.org/">Jena</a>
            </li>
            <li>
              <span class="mdc-typography--body1 course-name">Cloud computing:</span>
              <a href="https://aws.amazon.com/fr">AWS</a>
            </li>
            <li>
              <span class="mdc-typography--body1 course-name">Multi-Agent Systems:</span>
              <a href="https://www.emse.fr/~picard/cours/mas/lecture-DCSP-2017.pdf">Distributed Constraint Processing</a>,
              <a href="https://en.wikipedia.org/wiki/Distributed_constraint_optimization">Distributed Constraint Optimization</a>
            </li>
          </ul>

          <br>
          <div class="courses">Projet: Système d'objets communicants</div>
          <span class="project-caption mdc-typography--body2">
            <a href="https://github.com/CPS2project">Voir sur GitHub.</a>
          </span>
          <ul>
            <li>Serveur:
              <ul>
                <li>
                  <a href="https://mosquitto.org/">Mosquitto</a> MQTT Broker</li>
                <li>
                  <a href="https://www.mongodb.com/">MongoDB</a>
                </li>
                <li>InfluxDB + Chronograf (
                  <a href="https://www.influxdata.com/time-series-platform/">TICK Stack</a>)</li>
                <li>MQTT Subscribers</li>
              </ul>
            </li>
            <li>Objets factices simulés par un programme Python: envoient des données
              <i>via</i> MQTT et répondent à des requêtes.</li>
            <li>Application Android: affiche la liste des objets, peut demander des informations à un ou plusieurs objets, selon
              leur type, position, etc.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- SKILLS -->
  <section id="skills">
    <div class="container">
      <h2 class="mdc-typography--headline5 section-title">Compétences techniques</h2>
      <p class="mdc-typography--body2">Compétences auto-évaluées de 1 à 5 (débutant, autonome, habitué, confirmé, expert). Le niveau expert représentant pour
        moi une maîtrise acquise après plusieurs années d'expérience que je n'ai pas encore.</p>
      <div class="card">

        <!-- Développement Web-->
        <h3 class="skill-title skill-title-first">Développement Web</h3>
        <h4 class="skill-subtitle">Front-end</h4>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/html.png" alt="logo_html">
              <span class="tooltiptext">Langage de balisage définissant le contenu des pages web.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/css3.png" alt="logo_css3">
              <span class="tooltiptext">Langage définissant le style des pages web.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/js.png" alt="logo_javascript">
              <span class="tooltiptext">Langage de programmation principalement utilisé dans les pages web interactives.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/sass.svg" alt="logo_sass">
              <span class="tooltiptext">Outil facilitant (beaucoup) le développement CSS.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/webpack.png" alt="logo_webpack">
              <span class="tooltiptext">Outil permettant d'empaqueter et d'optimiser les fichiers d'un site web.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>

        <h4 class="skill-subtitle">Back-end</h4>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/spring-boot.png" alt="logo_spring_boot">
              <span class="tooltiptext">Framework de développement d'applications web en java.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/nodejs.png" alt="logo_nodejs">
              <span class="tooltiptext">Framework de développement d'applications web en javascript.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/mongodb.png" alt="logo_mongodb">
              <span class="tooltiptext">Base de données NoSQL orientée document.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/aws.png" alt="logo_mongodb">
              <span class="tooltiptext">Première et principale plateforme de cloud computing.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
          </div>
        </div>

        <!-- Mobile & IoT -->
        <h3 class="skill-title">Mobile & IoT</h3>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/android.png" alt="logo_html">
              <span class="tooltiptext">Système d'exploitation de la majorité des smartphones.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/arduino.png" alt="logo_html">
              <span class="tooltiptext">Plateforme de prototypage de systèmes électroniques simples.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>

        <!-- Big Data -->
        <h3 class="skill-title">Big Data</h3>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/spark.png" alt="logo_html">
              <span class="tooltiptext">Moteur de traitement de gros volumes de données.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/kafka.png" alt="logo_html">
              <span class="tooltiptext">Outil de transfert et de traitement de gros volumes de données en temps réel.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 40%"></div>
            </div>
          </div>
        </div>

        <!-- Langages -->
        <h3 class="skill-title">Langages généralistes</h3>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/java.png" alt="logo_html">
              <span class="tooltiptext">Langage orienté objet, facilement portable d'un système à un autre. Sa devise: "write once, run everywhere".</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="progress-container">
            <div class="tooltip">
              <img src="img/techno/python.svg" alt="logo_html">
              <span class="tooltiptext">Langage haut niveau orienté objet, très utilisé par les scientifiques et dans les logiciels open-source.</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CERTIFICATES -->
  <section id="certificates">
    <div class="container">
      <h2 class="mdc-typography--headline5 section-title">Certifications</h2>
      <div id="certificates__content" class="card">
        <div class="certificate-group" v-for="category in categories">
          <button class="collapsible certificate-group-name">
            {{ category.name }}
            <span class="arrow">
              <i class="fas fa-angle-left"></i>
            </span>
          </button>
          <div class="certificates-list">
            <div class="course-row-wrapper" v-for="course in category.courses">
              <div class="course-row">
                <span class="course-name">{{ course.name }}</span>
                <span class="course-image-container">
                  <img class="course-inline-image" v-bind:src="'../img/institutions/' + course.institution + '.png'" v-bind:alt="'logo_' + course.institution">
                </span>
                <a title="Voir le cours" class="course-image-container" v-bind:href="course.course_url">
                  <i class="course-inline-image fas fa-graduation-cap"></i>
                </a>
                <a title="Voir le certificat" class="course-image-container" v-if="course.certificate_url != ''" v-bind:href="course.certificate_url">
                  <img class="course-inline-image certificate-icon" src="img/institutions/certificate_icon.png" alt="certificate_icon">
                </a>
              </div>
            </div>
            </table>
          </div>
        </div>
      </div>
  </section>

  <section id="contact">
    <div class="container">

      <h2 class="mdc-typography--headline5 section-title">Contact</h2>
      <div class="card">

        <div class="container">

          <form id="contact-form" action="#" onsubmit="return false;">

            <!-- Name -->
            <div id="name-field" class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
              <i class="material-icons mdc-text-field__icon">account_box</i>
              <input type="text" id="form-name" class="mdc-text-field__input" required>
              <label for="form-name" class="mdc-floating-label">Nom</label>
              <div class="mdc-notched-outline">
                <svg>
                  <path class="mdc-notched-outline__path" />
                </svg>
              </div>
              <div class="mdc-notched-outline__idle"></div>
            </div>
            <p id="name--error" class="text-field--error">
                Nom invalide
              </p>

            <!-- Email-->
            <div id="email-field" class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
              <i class="material-icons mdc-text-field__icon">email</i>
              <input type="text" id="form-email" class="mdc-text-field__input" aria-controls="email-helper-text"
              aria-describedby="email-helper-text" required>
              <label for="form-email" class="mdc-floating-label">E-mail</label>
              <div class="mdc-notched-outline">
                <svg>
                  <path class="mdc-notched-outline__path" />
                </svg>
              </div>
              <div class="mdc-notched-outline__idle"></div>
            </div>
            <p id="email-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
                Il sera utilisé uniquement pour vous répondre.
              </p>
              <p id="email--error" class="text-field--error">
                  Adresse e-mail invalide
                </p>

            <!-- Message -->
            <div id="message-field" class="mdc-text-field mdc-text-field--textarea">
              <textarea id="form-message" class="mdc-text-field__input" rows="8" cols="40" required></textarea>
              <label for="textarea" class="mdc-floating-label">Message</label>
            </div>
            <p id="message-helper-text" class="text-field--error">
                Message trop court
              </p>

            <button class="mdc-button mdc-button--raised">
              <i class="material-icons mdc-button__icon" aria-hidden="true" type="submit">send</i>
              Envoyer
            </button>
          </form>

        </div>
      </div>
    </div>
  </section>

</body>

</html>