body {
  margin: 0;
  text-align: center;
  @include mdc-typography-base;
  @include mdc-theme-prop(color, text-primary-on-background);
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.1s $mdc-animation-standard-curve-timing-function;
  @include mdc-theme-prop(color, text-secondary-on-background);

  &:hover {
    @include mdc-theme-prop(color, text-primary-on-background);
  }
}

.rounded-circle {
  border-radius: 50%;
  padding: 0px;
  border: 5px solid white;
  @include mdc-elevation(8);
}

section:not(.mdc-top-app-bar__section) {
  margin: auto;
  padding: 48px 0 5px 0;
  background-color: $material-color-grey-100;
}

.section-title {
  margin: 1rem auto 2rem auto;
  @include title-underline;
}

.title-underline {
  @include title-underline;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;

  @media only screen and (min-width: 768px) {
    width: 85%;
  }

  @media only screen and (min-width: 992px) {
    width: 70%;
  }
}

.container-fluid {
  .row {
    padding: 0 0 4em 0;
  }
}

.card {
  @include card();
}
