@mixin title-underline {
  &::after {
    content: "";
    margin: 1rem auto;
    display: block;
    width: 5rem;
    border-bottom: 3px solid;
  }
}

@mixin school-focus {
  height: fit-content;

  .school-content {
    opacity: 1;
  }

  .dots {
    display: none;
  }
}

@mixin card {
  @include mdc-elevation(1);
  border-radius: 2px;
  border: 1px solid $material-color-grey-200;
  padding: 1rem;
  background-color: white;
}